


.bikes {
  font-family: 'Heebo', sans-serif;
  color: #ffd000;
  font-weight: 700;
  font-style: normal;
  letter-spacing: .01em;
  text-transform: none;
  line-height: 1.1em;
  display: block;
  background: transparent;
  font-size: 30.33px;
}

.order-button {
    font-family: 'Heebo';
    color: #fff;
    background-color: #ff427e;
    border-color: #ff427e;
}

.navbar-logo {
  width: 100px;
  height: 81px;
  display: flex;
  align-items: flex-start;
}

/* .background-home {
  background-image: url('https://i.imgur.com/CWeKPSu.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
} */

.two-wheels {
  text-align: center;
  font-style: italic;
  display: block;
  font-size: calc((5 - 1) * 1.2vw + 1rem);
  white-space: pre-wrap;
  color: white;
}
.two-paragraph {
  color: white;
  text-align: center;
  font: 18.72px;
  margin: 13px 0px 0px;
  font-weight: 700px;
  letter-spacing: .01em;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;;
}

.two-card {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.welcome-colombia {
  background-image: url('https://i.imgur.com/QglHMHu.jpg');
}

.welcome-text {
  text-align: center;
  color: #ff7b3d;;
  font-weight: bold;
  white-space: pre-wrap;
  font-size: 3rem;
}